.master-container { 
    width: 100%;
    margin: auto;
}

.nav-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
}

.nav-account {
    display: flex;
    justify-content: flex-end;        
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a:hover {
    text-decoration: underline;
}

a {
   text-decoration: none;
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
}

.Store {
    margin-left: 20px;
}

.Images {
    margin-left: 20px;
}

.Apps {
    margin-left: 20px;
    width: 25px;
    height: 25px;
}

.Sign-In {
    margin-left: 20px;
    color: white;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    padding: 8px;
}

.header-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.search-container {
    margin: 30px;  
    display: flex;
    justify-content: center;    
}

.search-box {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
    width: 485px;
    height: 45px;
    text-align: center;
}

.search-bar {
    width: 415px;
    height: 35px;
    border: none;
    outline: none;
}

.glass {
    width: 30px;   
}

.microphone {
    width: 20px;
}

.submit-buttons {
    display: flex;
    justify-content: center; 
}

.search-button {
    background-color: #f2f2f2;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 8px;
    margin: 10px;
}

.search-button:hover {
    border: 1px #f2f2f2 solid;
}

.lucky-button {
    background-color: #f2f2f2;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 8px;
    margin: 10px;
}

.lucky-button:hover {
    border: 1px #f2f2f2 solid;
    box-shadow: black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    width: 100%;
    line-height: 40px;
    position: absolute;
    bottom: 0;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.Advertising {
    margin-left: 20px;
}

.Business {
    margin-left: 20px;
}

.How {
    margin-left: 20px;
}

.Privacy {
    margin-right: 20px;
}

.Terms {
    margin-right: 20px;
}

.Settings {
    margin-right: 20px;
}